<?xml version="1.0" encoding="UTF-8"?>
<Context>

    <WatchedResource>WEB-INF/web.xml</WatchedResource>
    <WatchedResource>WEB-INF/tomcat-web.xml</WatchedResource>
    <WatchedResource>${catalina.base}/conf/web.xml</WatchedResource>
	
	<Resource
	name="jdbc/studydb"
	auth="Container"
	type="javax.sql.DataSource"
	driverClassName="com.mysql.cj.jdbc.Driver"
	url="jdbc:mysql://127.0.0.1:3306/farmStory"
	username="root"
	password="1234"
	maxTotal="13"
	maxIdle="13"
	maxWaitMillis="3000"
	/>
	
</Context>